chinese-whispers==0.7.4
en-use-md @ https://github.com/MartinoMensio/spacy-universal-sentence-encoder/releases/download/v0.4.3/en_use_md-0.4.3.tar.gz
spacy-universal-sentence-encoder==0.4.3
tensorflow==2.5.0
torch==1.6.0+cu101
transformers==4.0.0
